@use '@carbon/colors';
@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;

.nutritionWidgetCard {
  border: 1px solid $ui-03;
  max-width: 94vw;
}

.tableContainer {
  overflow-x: auto;
}

.widgetTableHeader:nth-child(n+2) > div {
  text-align: center;
  flex: 1;
}

.stickyTableColumn {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: colors.$gray-10;
}

.nutritionTableCell th,
.nutritionTableCell td {
  border-right: 1px solid #d3d3d3;
  text-align: center;
}

.nutritionTableCell th:last-child,
.nutritionTableCell td:last-child {
  border-right: none;
}

.mealTaken {
  background-color: colors.$gray-20;
  padding: layout.$spacing-01;
  padding-inline: layout.$spacing-03;
  text-align: center;

  &[data-status='-'] {
    background-color: colors.$red-30 !important;
  }

  &[data-status='X'] {
    background-color: colors.$orange-20 !important;
  }

  &[data-status='XX'] {
    background-color: colors.$yellow-20 !important;
  }

  &[data-status='XXX'] {
    background-color: colors.$cyan-20 !important;
  }

  &[data-status='XXXX'] {
    background-color: colors.$green-30 !important;
  }

  &[data-status=''] {
    background-color: colors.$gray-10 !important;
  }
}
